<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>404 Page</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/404.css">
  </head>
  <body>
      <div class="error-container">
        <img class="not-found" src="https://media.giphy.com/media/VwoJkTfZAUBSU/giphy.gif" class='album-art'>
        <div class="not-found" >Error 404: I don't think you're supposed to be here.</div>
      </div>
  </body>
</html>

