.header {
    padding: 80px; 
    text-align: center; 
    background: #1abc9c; 
    color: white;
  }
h1 {
    color: #60b8b8;
    text-shadow: -1px 0 black, 0 7px black, 1px 0 black, 0 -1px black;
}

  .header_home {
    padding: 70px; 
    text-align: center; 
    background-image: url(images/chess.jpg); 
    color: #0099ff;
  }

  .header_search{
    padding: 80px; 
    text-align: center; 
    background: #000099; 
    color: white;
  }

  .header_user{
    padding: 80px; 
    text-align: center; 
    background: #33cc33; 
    color: white;
  }

  .header_post{
    padding: 80px; 
    text-align: center; 
    background: #cc9900; 
    color: white;
  }

  .header_account{
    padding: 80px; 
    text-align: center; 
    background: #660066; 
    color: white;
  }

  body {
    font-family: "Raleway", sans-serif;
    background-color: #3333ff;
  }
  .h1{
    font-size:40px;
  }
  .header_home h1 {
    font-size: 80px;
  }

  .menubar {
    overflow: hidden;
    background-color: #ff9900;
  }
  
  
  .menubar a {
    float: left; 
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none;
  }

  .menubar a.right {
    float: right; 
  }
  
  
  .menubar a:hover {
    background-color: #ddd; 
    color: black; 
  }

  .set {    
      margin: auto;
      padding: 60px;
      background-color: #ffcc00;
  }

  .set p{
    margin-right:300px;
  }

  .setA {
    margin:auto;
    padding:40px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #ff9900;
    width: 600px;
    height: 550px;
  }

  .setB{
    margin:auto;
    padding:40px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #ff9900;
    width: 600px;
    height: 350px;
  }