<!DOCTYPE html>
<html lang= "en">
    <head>
        <link rel="stylesheet" type = "text/css"  href="{{ url_for('static', filename='style.css') }}">        
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <title>
        <title>
            Add new boardgames!
        </title>
        <meta charset="UTF-8">
        <!--Referenced: https://www.w3schools.com/howto/howto_website.asp; Here the meta method is set for
            the webpage itself to be scaled for all device resolutions-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--Ref:https://www.w3schools.com/howto/howto_website.asp; Horizontal navigation bar with links to other
            pages-->
        <div class="menubar">
             <a href = "/">Home</a>
             <a href = "/browse_boardgames">Browse</a>
             <a href = "/add_new_boardgames">Post Game</a>
        </div> 
        <div class = "header_search">
            <h2>Add new boardgames!</h2>

        </div>
        <br/>
        <div class="setA">
            <h2>Boardgame to add:</h2>
                <table border='1'>
                    <thead>
                    	<form id="update_boardgame" action='/update_boardgame/{{ boardgames[0] }}' method = "post">

                    	<input type="hidden" name="boardgameID" value = "{{ boardgames[0] }}">
                        Boardgame Name: <input type="text" name = "boardgameName" value = "{{ boardgames[1] }}"> <br>
                    	Rating: <input type="number" name="rating" value = "{{ boardgames[2] }}" ><br>
                    	Release Date: <input type="date" name="releaseDate"><br>
                    	genre: <input type ="text" name="genre" value = "{{ boardgames[3] }}"><br>
                    		<input type = "submit" value = "Submit">
                    	</form>
                    </thead>
                </table>
        </div>
    </body>    
</html>
