<!DOCTYPE html>
<html lang= "en">
    <head>       
         <link rel="stylesheet" type = "text/css"  href="{{ url_for('static', filename='style.css') }}">        
         <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
            <title>Browse boardgames
            </title>
            <meta charset="UTF-8">
        <!--Referenced: https://www.w3schools.com/howto/howto_website.asp; Here the meta method is set for
            the webpage itself to be scaled for all device resolutions-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
        <div class="menubar">
             <a href = "/">Home</a>
             <a href = "/browse_boardgames">Browse</a>
             <a href = "/add_new_boardgames">Post Game</a>
        </div> 

                <div class = "header_search">
            <h2>Add new boardgames!</h2>

        </div><br>


<div class="setA">
<h3>Current Boardgames</h3>
<table border='1'>
    <thead>
        <th>Boardgame Name</th>
        <th>Rating</th>
        <th>Creation Date</th>
        <th>Genre</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r.0 }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> <input type='button' name='Update' value='Update'
            onclick="window.location = '/update_boardgames/{{r[4]}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_boardgames/{{r[4]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
</body>
<h3><a href='/add_new_people'>Add new boardgames</a></h3>
</html>

