<!DOCTYPE html>
<html lang= "en">
    <head>
        <link rel="stylesheet" type = "text/css"  href="{{ url_for('static', filename='style.css') }}">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <title>
            Write Review
        </title>
        <meta charset="UTF-8">
        <!--Referenced: https://www.w3schools.com/howto/howto_website.asp; Here the meta method is set for
            the webpage itself to be scaled for all device resolutions-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="menubar">
             <a href = "/index">Home</a>
             <a href = "/boardgames">Browse</a>
             <a href = "/users">User Sign Up</a>
             <a href = "/account">My Account</a>
             <a href = "/postgame">Post Game</a>
             <a href = "/login">Login</a>
       </div> 
       <div class = "header_post">
        <h1>Write a Review</h1>
        <p>Post a review on your tabletop game here</p>
       </div>
       <br>
       <div class="setB">
        <form id="reviewform">
            Rating:<br>
            <br>
            <input type="number" name="rating"><br>
            <textarea id="review" rows="10" cols="80" name="review" form="reviewform">
                Enter review here...
            </textarea><br>
            <button type="submit">Submit Review</button>
        </form>  
       </div>
       <br>  
    </body>
</html>    