<!DOCTYPE html>
<html lang= "en">
    <head>
        <link rel="stylesheet" type = "text/css"  href="{{ url_for('static', filename='style.css') }}">  
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <title>
            Users Page
        </title>
        <meta charset="UTF-8">
        <!--Referenced: https://www.w3schools.com/howto/howto_website.asp; Here the meta method is set for
            the webpage itself to be scaled for all device resolutions-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--Ref:https://www.w3schools.com/howto/howto_website.asp; Horizontal navigation bar with links to other
            pages-->
        <div class="menubar">
             <a href = "/index">Home</a>
             <a href = "/boardgames">Browse</a>
             <a href = "/users">User Sign Up</a>
             <a href = "/account">My Account</a>
             <a href = "/postgame">Post Game</a>
             <a href = "/login">Login</a>
        </div> 
        <div class = "header_user">
            <h2>User Sign Up Information</h2>
            <p>Please enter in your informastion below in order to create an account</p>
        </div>
        <br/>
        <div class="setA">
            <h3>Create Account:</h3>
            <form id = "create_account" action = "/add_users" method = "POST">
                First Name:<br>
                <input type = "text" name="firstname"><br>
                <br>
                Last Name:<br>
                <input type = "text" name="lastname"><br>
                <br>
                Username:<br>
                <input type="text" name="username"><br>
                <br>
                Email:<br>
                <input type = "email" name="email"><br>
                <br>
                Pass:<br>
                <input type = "password" name="password"><br>
                <br>
                <button type="submit">Submit Form</button>
            </form>
        </div>
    </body>
</html>
